<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    demo1
    {{ username }}
    {% if pagehook%}
	{%for field in pagehook.fields%}
	{%if pagehook.editor == '1'%}
	{{HOOKS@pageFooter@1[field.name]|safe}}
	{%elif pagehook.editor == '2_1'%}
	{{HOOKS@pageFooter@2_1[field.name]|safe}}
	{%elif pagehook.editor == '2_2'%}
	{{HOOKS@pageFooter@2_2[field.name]|safe}}
	{%elif pagehook.editor == '3'%}
	{{HOOKS@pageFooter@3[field.name]|safe}}
	{%else%}
	{{HOOKS@pageFooter[field.name]|safe}}
	{%endif%}
	{%endfor%}
	{%endif%}
</body>
</html>